.signup-container {
  background-image: url('../components/backgroundImage/img-08.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  ;
}

.signin-container {
  background-image: url('../components/backgroundImage/img-09.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  ;
}